In [92]:
import pandas as pd
import numpy as np
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [93]:
df.Gender = df['Gender'].replace(['Male', 'Female'], [0,1])
df.head()

   Gender     Height      Weight
0       0  73.847017  241.893563
1       0  68.781904  162.310473
2       0  74.110105  212.740856
3       0  71.730978  220.042470
4       0  69.881796  206.349801

In [94]:
df.tail()

      Gender     Height      Weight
8550       1  60.483946  110.565497
8551       1  63.423372  129.921671
8552       1  65.584057  155.942671
8553       1  67.429971  151.678405
8554       1  60.921791  131.253738

In [95]:
x = df.drop('Weight', axis=1)
x

      Gender     Height
0          0  73.847017
1          0  68.781904
2          0  74.110105
3          0  71.730978
4          0  69.881796
...      ...        ...
8550       1  60.483946
8551       1  63.423372
8552       1  65.584057
8553       1  67.429971
8554       1  60.921791

[8555 rows x 2 columns]

In [96]:
x.shape

(8555, 2)

In [97]:
y = df['Weight']
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
8550    110.565497
8551    129.921671
8552    155.942671
8553    151.678405
8554    131.253738
Name: Weight, Length: 8555, dtype: float64

In [98]:
x.head()

   Gender     Height
0       0  73.847017
1       0  68.781904
2       0  74.110105
3       0  71.730978
4       0  69.881796

In [99]:
y.head()

0    241.893563
1    162.310473
2    212.740856
3    220.042470
4    206.349801
Name: Weight, dtype: float64

In [100]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.30)

In [101]:
xtrain.head()

      Gender     Height
8193       1  62.780302
1474       0  68.886895
1769       0  69.963912
6270       1  66.941055
2618       0  65.493509

In [102]:
ytrain.head()

8193    145.794374
1474    175.992018
1769    191.065448
6270    135.010041
2618    170.810301
Name: Weight, dtype: float64

In [103]:
xtest.head()

      Gender     Height
699        0  70.773151
2380       0  74.340206
134        0  63.987925
8021       1  63.978152
7694       1  59.413107

In [104]:
ytest.head()

699     208.223566
2380    209.237513
134     150.979051
8021    135.218470
7694    103.386161
Name: Weight, dtype: float64

In [105]:
xtrain.shape

(5988, 2)

In [106]:
xtest.shape

(2567, 2)

In [107]:
ytrain.shape

(5988,)

In [108]:
ytest.shape

(2567,)

# Linear Regression

In [109]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg

LinearRegression()

In [110]:
reg.fit(xtrain, ytrain)

LinearRegression()

In [111]:
reg.coef_

array([-19.28563103,   5.98883184])

In [112]:
reg.intercept_

-226.44769455221896

In [113]:
training_accuracy = reg.score(xtrain, ytrain)
training_accuracy

0.8996754713548308

In [114]:
testing_accuracy = reg.score(xtest, ytest)
testing_accuracy

0.9004965980422893

In [115]:
pred = reg.predict(xtest)
pred

array([197.40080812, 218.76329744, 156.76522569, ..., 187.1894702 ,
       110.90619994, 193.8905683 ])

In [116]:
from sklearn.metrics import mean_squared_error

In [117]:
mse = mean_squared_error(ytest, pred)
mse

104.60874943557671

In [118]:
reg.score(xtest, ytest)

0.9004965980422893

# KNN

In [119]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=5)

In [120]:
knn

KNeighborsRegressor()

In [121]:
knn.fit(xtrain, ytrain)

KNeighborsRegressor()

In [122]:
knn.score(xtest, ytest)

0.88043028103344